* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

li,
a,
p {
    text-decoration: none;
    list-style: none;
}

body {
  height: 820px;
    background-color: rgb(15, 15, 15);
}

.start-div {
    margin: 200px auto;
    text-align: center;
    padding: 30px 0;
    border-radius: 10px;
   background-color: white; 
    box-shadow: 0 0 15px -1px white;
    width: 40%;
    height: 33%;


}

.start-div p{
    font-size: 40px;
    font-weight: 800; 
    color: rgb(221, 190, 15);
}
.butt2 {
    font-size: 20px;
    font-weight: 800;
    background-color: goldenrod;
    color: white;
    margin: 10px 20px;
    width: 40%;
    height: 30%;

    animation: turn 2s linear infinite;
}
@keyframes turn {
    0% {
    transform: rotateY(-100deg);
    transform-origin: right center;
        }

    50% {
        transform-origin: right center;
        transform: rotateY(-50deg);
    
}
    70% {
        transform-origin: right center;
        transform: rotateY(0deg);
    
}
    100% {
        transform-origin: right center;
        transform: rotateY(0deg);
    
    }
}



.or{
    padding-top: 40px;
    background-image: url(../img/download\ \(3\).jpg);
    background-size: 100%;
    backface-visibility: calc(8);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    display: none;
}
.quest-box {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin: 150px auto;
    border-radius: 10px;
    /* background: linear-gradient(60deg, rgb(236, 231, 231), white); */
    box-shadow: 0 0 20px 2px white;
    height: 470px;
    width: 80%;
}

.quest-div {
    border-radius: 10px;
    
    box-shadow: 0 0 15px -1px white;
    width: 97%;
    height: 93%;

    animation: turn 2s linear;
}

@keyframes turn {
    0% {
    transform: rotateY(-100deg);
    transform-origin: right center;
        }

    50% {
        transform-origin: right center;
        transform: rotateY(-50deg);
    
}
    70% {
        transform-origin: right center;
        transform: rotateY(0deg);
    
}
    100% {
        transform-origin: right center;
        transform: rotateY(0deg);
    
    }
}

#count {
    margin-bottom: 10px;
    text-align: right;
    width: 30%;
    font-size: 25px;
    font-weight: 800;
    height: 30%;
    color: white;
}

.label {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    height: 60%;
    border-radius: 20%;
    text-align: center;
    background-color: rgb(238, 236, 236);
}

.next {
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20%;
}

.butt {
    font-size: 20px;
    font-weight: 800;
    background-color: blue;
    color: white;
    margin: 10px 20px;
    width: 20%;
    height: 40%;

    display: none;
}


.opt {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 700;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
}

button {
    font-size: 15px;
    font-weight: 900;
    width: 45%;
    border-radius: 30%;
    border: none;
    background-color: white;
    height: 38%;
}

.flex {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    height: 17%;
}

.flex-qdiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

#input-div {
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
    width: 30%;
    height: 60%;
    box-shadow: 0 0 15px -1px white;
    background-color: black;
}

#input-div p {
    z-index: 2;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    width: 40%;
    color: red;
    margin-right: -180px;
}

#input-div input {
    text-align: center;
    outline: none;
    font-size: 25px;
    font-weight: 900;
    width: 50%;
    border: none;
    border-radius: 100%;
    margin-left: 120px;

    transition: 1s ease-in-out;
    animation: tap 4s linear;
}

@keyframes tap {
    0% {
        transform: translateX(-100px);
    }

    50% {
        transform: translateX(-50px);
    }
    70% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}


.correct {
    opacity: 1;
    color: black;
    transition: 1s ease-in-out;
    box-shadow: 0 0 15px 2px white;
    background-color: rgb(165, 241, 66);
}

.wrong {
    opacity: 1;
    color: white;
    transition: 1s ease-in-out;
    box-shadow: 0 0 10px 2px white;
    background-color: rgba(240, 17, 17, 0.397);
}

.warning {
    transition: 1s ease-in-out;
    animation: warn 3s linear;
}

@keyframes warn {
    to {
        color: yellow;
    }
}

.cont {
    display: none;
}

