* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

li,
a,
p,
button {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

body {
    background-color: rgb(27, 25, 25);
}
.body1{
    background-color: rgb(221, 218, 218);
}

#start {
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 300px 0;
}

#start P {
    font-size: 40px;
    font-weight: 800;
    color: rgb(221, 190, 15);
}

#audio {
    width: 13%;
    margin: auto;
}

#audio p {
    margin: auto;
    color: black;
    font-size: 25px;
}

#audio:hover audio {
    display: block;
}

#audio2 {
    display: none;
}

audio {
    margin-left: -40px;
    background-color: red;

}

#timer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    margin: 50px;
    width: 100%;
    height: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 100px;
    font-weight: 800;
}

.start-div {
    margin: 200px auto 0;
    text-align: center;
    padding: 30px 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px -1px white;
    width: 40%;
    height: 33%;
}

.start-div p {
    font-size: 40px;
    font-weight: 800;
}

.butt2 {
    font-size: 25px;
    font-weight: 800;
    color: white;
    margin: 10px 20px;
    width: 40%;
    height: 60px;

    animation: col 2s linear infinite;
}

.butt2:hover {
    transition: 1s ease-in-out;
    color: black;

}

@keyframes col {
    0% {
        border: 5px solid gold;
    }

    25% {
        border: 5px solid rgb(231, 226, 199);

    }

    50% {
        border: 5px solid gold;

    }

    70% {
        border: 5px solid rgb(223, 221, 210);

    }

    100% {
        border: 5px solid gold;
    }
}

.show {
    padding-top: 300px;
    height: 100%;
    width: 100%;

    display: none;
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    height: 120px;
    width: 120px;
    margin: auto;
    border-radius: 60px;
    color: black;

    animation: spin 4s linear forwards;
}


@keyframes spin {
    0% {

        border-right: 5px solid red;
    }

    25% {

        border-top: 5px solid red;
    }

    50% {

        border-left: 5px solid red;
    }

    70% {

        border-bottom: 5px solid rgb(24, 21, 199);
    }

    90% {

        border: 2px solid red;
    }

    100% {

        border: none;
    }

}

.spin p {
    opacity: 0;
    animation: fadein 5s linear forwards;
}

@keyframes fadein {
    0% {

        opacity: 0;
    }

    25% {

        opacity: 0;
    }

    50% {

        opacity: 0;
    }

    70% {

        opacity: 0;
    }

    90% {

        opacity: 0;
    }

    100% {

        opacity: 1;
    }

}

.content-cont {
    padding-top: 40px;
    background-color: transparent;
    height:100%;
    width: 100%;

    display: none;

    animation: blur 1.5s linear forwards;
}


@keyframes blur {
    0% {
        opacity: 0;
    }

    25% {

        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    70% {

        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }

}

.himg {
    margin: auto;
    width: 50% !important;
    height: auto !important;
}

img {
    width: 100%;
    height: 100%;
}


#end {
    width: 400px;
    height: 52%;
    display: none;
}

#endbut {
    height: 70px;
}


#end p {
    color: red;
    margin: auto;
    width: 400px;
    height: 50px;


}

#end .pp2 {
    animation: 4s chn linear infinite;
}

@keyframes chn {
    0% {
        opacity: 1;
        color: black;
    }

    50% {
        opacity: 0;
        color: red;
    }

    100% {
        opacity: 1;
        color: black;
    }

}

.quest-box {
    display: flex;

    justify-content: right;
    align-items: flex-end;
    margin: 30px auto;
    border-radius: 10px;
    /* background: linear-gradient(60deg, rgb(236, 231, 231), white); */

    height: 470px;
    width: 1000px;
}

.quest-div {
    border-radius: 10px;


    width: 97%;
    height: 93%;

    animation: turn 2s linear;
}

@keyframes turn {
    0% {
        transform: rotateY(-100deg);
        transform-origin: right center;
    }

    50% {
        transform-origin: right center;
        transform: rotateY(-50deg);

    }

    70% {
        transform-origin: right center;
        transform: rotateY(0deg);

    }

    100% {
        transform-origin: right center;
        transform: rotateY(0deg);

    }
}

#count {
    margin-bottom: 10px;
    text-align: right;
    width: 30%;
    font-size: 30px;
    font-weight: 800;
    height: 30%;
    color: black;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 60%;
    border-radius: 20%;
    text-align: center;
    background: linear-gradient(45deg, white, rgb(41, 40, 40));
}

#yel {
    color: rgb(121, 121, 4);
    font-size: 25px;
}

.next {
    margin-top: 55px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30%;
}

.butt {
    font-size: 20px;
    font-weight: 800;
    background-color: blue;
    color: white;
    margin: 10px 20px;
    width: 35%;
    height: 40%;

    display: none;
}

#done {
    background: linear-gradient(45deg, rgb(241, 12, 12), rgb(41, 40, 40));
}

.opt {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 700;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
}

button {
    font-size: 20px;
    font-weight: 800;
    width: 45%;
    border-radius: 30%;
    border: none;
    background: linear-gradient(45deg, rgb(218, 196, 75), rgb(59, 58, 58));
    height: 40%;
}

.flex {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    height: 17%;
}

.flex-qdiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

#input-div {
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
    width: 1000px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px -1px white;
    background-color: rgb(100, 9, 9);
}

#input-div p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    font-size: 75px;
    font-weight: 900;
    width: 120px;
    color: rgb(49, 61, 230);

}

#input-div input {
    margin: auto;
    text-align: center;
    font-style: italic;
    outline: none;
    font-size: 50px;
    font-weight: 900;
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 100%;


    transition: 1s ease-in-out;
    animation: tap 4s linear;
}

@keyframes tap {
    0% {
        transform: translateX(-100px);
    }

    50% {
        transform: translateX(-50px);
    }

    70% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }
}


.correct {
    opacity: 1;
    color: rgb(7, 54, 3);
    transition: 1s ease-in-out;
    box-shadow: 0 0 15px 2px rgb(14, 211, 7);
}

.wrong {
    opacity: 1;
    color: rgb(110, 5, 5);
    transition: 1s ease-in-out;
    box-shadow: 0 0 15px 2px rgb(199, 7, 7);
}

.high {
    transition: 0.7s ease-in-out;
    color: green;
}

.low {
    transition: 0.7s ease-in-out;
    color: red;
}

.cont {
    display: none;
}